html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}
.App {
  margin: 0rem 1rem;
  background: #f4f4f4;
}
.header {
  background: linear-gradient(to right, #c95c5c, #6b9974, #aed637);
  color: #fff;
  text-align: center;
  padding: 30px 0;
}
.todo-item {
  border-bottom: 2px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  border-radius: 20px;
  cursor: pointer;
}
.addTodoFormStyle {
  display: flex;
}
.addTodoInputStyle {
  flex: 8;
  padding: 20px;
  font-size: 1.3rem;
}
.addTodoBtnStyle {
  flex: 2;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  border: none;
  outline: none;
  background: #4e641c;
  color: #fff;
  cursor: pointer;
  padding: 0;
}
.addTodoBtnStyle:hover {
  background: #97c04e;
}
